* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body
{
    height:100vh;
}

body
{
    display: grid;
    grid-template-columns: 350px auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
    "header header"
    "menu table"
    "footer footer";
}

header
{
    display: flex;
    justify-content: flex-start;
    grid-area: header;
    background-color: blueviolet;
}

.logo
{
    display: flex;
    padding: 30px 107px 40px 107px;
}

.logoContainer
{
    display: flex;
    align-items:center;
    justify-content: center;
}

.logoImage
{

    background-color: black;
    width: 125px;
    height: 125px;
}

.title
{
    display: flex;
    align-items: flex-end;
    font-size: 50px;
    margin-left: 50px;
    margin-top: 65px;
}

.menu
{
    display: flex;
    align-items: center;
    grid-area: menu;
    border:1px solid black;
    background-image: url(/images/menuBackground.jpg);
}


.options
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 30px;
    gap:5%;
}

.menuOtions
{
    width: 45%;
    height: 75px;
    margin-bottom: 30px;
}

.wideButton
{
    width: 95%;
}

.table
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:110px 0px;
    grid-area: table;
    background-image: url(/images/tableBackground.jpg);
}

.canvas
{
    width: 780px;
    height: 780px;
    background-color: white;
    border:10px solid black;
}

footer
{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-area: footer;
    padding: 25px;
    background-color: chartreuse;
}

/* Mobile Styles */
@media only screen and (max-width: 400px)
{

}
  
/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px)
{

}
  
/* Desktop Styles */
@media only screen and (min-width: 961px)
{

}